In [1]:
from astropy import units as u
from astropy.coordinates import SkyCoord
import numpy as np
import pandas as pd
from icecream import ic

## Exercise 4

In [2]:
# Exercise 4 i
ic(8.14e16, 8.14e16 * 1e-3, 8.14e16 / 1.49598e11)
ic(8.14e16 / 1.49598e11 / 1e5)

ic| 8.14e16: 8.14e+16
    8.14e16 * 1e-3: 81400000000000.0
    8.14e16 / 1.49598e11: 544124.9214561692
ic| 8.14e16 / 1.49598e11 / 1e5: 5.441249214561692

5.441249214561692

In [3]:
# https://docs.astropy.org/en/stable/coordinates/index.html
# https://docs.astropy.org/en/stable/coordinates/transforming.html

In [4]:
# Position in equatorial
objectdict = {}
def skycoordlist(entryname, rectastring,declinastring):
    entry = SkyCoord(ra=rectastring, dec=declinastring, unit=(u.hourangle, u.deg,), frame='icrs')
    objectdict[entryname] = entry


skycoordlist('siriusA','06:45:08.917','-16:42:58.02') # https://de.wikipedia.org/wiki/Sirius
skycoordlist('electra','03:44:52.536','+24:06:48.801') # https://de.wikipedia.org/wiki/Elektra_(Stern)
skycoordlist('crab', '05:34:32.0','+22:00:52') # https://de.wikipedia.org/wiki/Krebsnebel
skycoordlist('sagittariusA', '17:45:40.0','-29:00:28.2') # https://de.wikipedia.org/wiki/Sagittarius_A*
skycoordlist('andromeda', '00:42:44.3','+41:16:09') # https://de.wikipedia.org/wiki/Andromedagalaxie
skycoordlist('ngs253', '00:47:33.12', '-25:17:17.59') # https://de.wikipedia.org/wiki/Sculptor-Galaxie
skycoordlist('messier87', '12:30:49.4','+12:23:28')
print(objectdict)

{'siriusA': <SkyCoord (ICRS): (ra, dec) in deg
    (101.28715417, -16.71611667)>, 'electra': <SkyCoord (ICRS): (ra, dec) in deg
    (56.2189, 24.11355583)>, 'crab': <SkyCoord (ICRS): (ra, dec) in deg
    (83.63333333, 22.01444444)>, 'sagittariusA': <SkyCoord (ICRS): (ra, dec) in deg
    (266.41666667, -29.00783333)>, 'andromeda': <SkyCoord (ICRS): (ra, dec) in deg
    (10.68458333, 41.26916667)>, 'ngs253': <SkyCoord (ICRS): (ra, dec) in deg
    (11.888, -25.28821944)>, 'messier87': <SkyCoord (ICRS): (ra, dec) in deg
    (187.70583333, 12.39111111)>}

In [5]:
objectdict['siriusA'].to_string('hmsdms')
objectdict['siriusA']

<SkyCoord (ICRS): (ra, dec) in deg
    (101.28715417, -16.71611667)>

In [6]:
skyobjects = []

for i, (entryname, coordinates) in enumerate(objectdict.items(), start=1):
    galactic_coords = coordinates.galactic
    skyobjects.append({
        "Name": entryname,
        "equatorial hmsdms": coordinates.to_string('hmsdms'),
        "l": galactic_coords.l.deg,
        "b": galactic_coords.b.deg,
        "galactic hmsdms": galactic_coords.to_string('hmsdms')
    })

pd.DataFrame(skyobjects)

,Name,equatorial hmsdms,l,b,galactic hmsdms
0,siriusA,06h45m08.917s -16d42m58.02s,227.230292,-8.890283,15h08m55.26996067s -08d53m25.01722585s
1,electra,03h44m52.536s +24d06m48.801s,166.180226,-23.848505,11h04m43.25422246s -23d50m54.61795139s
2,crab,05h34m32s +22d00m52s,184.557630,-5.784191,12h18m13.83114021s -05d47m03.08643585s
3,sagittariusA,17h45m40s -29d00m28.2s,359.944160,-0.046052,23h59m46.59845447s -00d02m45.78875566s
4,andromeda,00h42m44.3s +41d16m09s,121.174244,-21.572889,08h04m41.81864962s -21d34m22.4003804s
5,ngs253,00h47m33.12s -25d17m17.59s,97.369449,-87.963999,06h29m28.66775887s -87d57m50.39618488s
6,messier87,12h30m49.4s +12d23m28s,283.777429,74.491114,18h55m06.58294545s +74d29m28.01216988s