In [17]:
# https://docs.astropy.org/en/stable/coordinates/index.html
# https://docs.astropy.org/en/stable/coordinates/transforming.html

In [18]:
from astropy import units as u
from astropy.coordinates import SkyCoord
import numpy as np
import pandas as pd

In [19]:
# Position in equatorial
# siriusA = SkyCoord('15h08m55.27s', '-08d53m24.99s', frame='icrs')
objectdict = {}
def skycoordlist(entryname, rectastring,declinastring):
    entry = SkyCoord(ra=rectastring, dec=declinastring, unit=(u.hourangle, u.deg,), frame='icrs')
    objectdict[entryname] = entry


skycoordlist('siriusA','06:45:08.917','-16:42:58.02') # https://de.wikipedia.org/wiki/Sirius
skycoordlist('electra','03:44:52.536','+24:06:48.801') # https://de.wikipedia.org/wiki/Elektra_(Stern)
skycoordlist('crab', '05:34:32.0','+22:00:52') # https://de.wikipedia.org/wiki/Krebsnebel
skycoordlist('sagittariusA', '17:45:40.0','-29:00:28.2') # https://de.wikipedia.org/wiki/Sagittarius_A*
skycoordlist('andromeda', '00:42:44.3','+41:16:09') # https://de.wikipedia.org/wiki/Andromedagalaxie
skycoordlist('ngs254', '00:47:27.61', '-31:25:18.3') # https://de.wikipedia.org/wiki/NGC_254
skycoordlist('messier87', '12:30:49.4','+12:23:28')

In [20]:
# Dezimale und HHMMSS/Degree Position in galactic

# for i , (entryname, coordinates) in enumerate(objectdict.items(), start=1):
#     print('entry:  ', i, entryname)
#     print('equatorial:  ', coordinates.to_string('hmsdms')) # Angabe alpha / delta in HHMMSS / deg
#     print('galactic:  ', coordinates.galactic)
#     print('galactic:  ', coordinates.galactic.to_string('hmsdms'))
#     print("\n")

In [21]:
skyobjects = []

for i, (entryname, coordinates) in enumerate(objectdict.items(), start=1):
    galactic_coords = coordinates.galactic
    skyobjects.append({
        "Name": entryname,
        "equatorial hmsdms": coordinates.to_string('hmsdms'),
        "l": galactic_coords.l.deg,
        "b": galactic_coords.b.deg,
        "galactic hmsdms": galactic_coords.to_string('hmsdms')
    })

pd.DataFrame(skyobjects)

,Name,equatorial hmsdms,l,b,galactic hmsdms
0,siriusA,06h45m08.917s -16d42m58.02s,227.230292,-8.890283,15h08m55.26996067s -08d53m25.01722585s
1,electra,03h44m52.536s +24d06m48.801s,166.180226,-23.848505,11h04m43.25422246s -23d50m54.61795139s
2,crab,05h34m32s +22d00m52s,184.557630,-5.784191,12h18m13.83114021s -05d47m03.08643585s
3,sagittariusA,17h45m40s -29d00m28.2s,359.944160,-0.046052,23h59m46.59845447s -00d02m45.78875566s
4,andromeda,00h42m44.3s +41d16m09s,121.174244,-21.572889,08h04m41.81864962s -21d34m22.4003804s
5,ngs254,00h47m27.61s -31d25m18.3s,314.113399,-85.619833,20h56m27.215749s -85d37m11.39724548s
6,messier87,12h30m49.4s +12d23m28s,283.777429,74.491114,18h55m06.58294545s +74d29m28.01216988s